name: CI-CD Flask App

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Deploy to EC2
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ubuntu
        key: ${{ secrets.EC2_SSH_KEY }}
        script: |
          docker pull ashwini2123/flask-app:latest

          docker stop flask || true
          docker rm flask || true

          docker run -d \
            --name flask \
            -p 5000:5000 \
            ashwini2123/flask-app:latest

